.App {
    padding: 16px;
}


.ContainerViewBoard{
  float: left;
}

.ContainerViewSidebar{
  float: left;
}

#alerts {
    height: 20px;
    line-height: 20px;
}

#board {
    position: relative;
}

.intersection {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    box-sizing: border-box;
}

.intersection:before {
    border-top: 2px #000 solid;
    width: 40px;
    display: block;
    content: "";
    top: 18px;
    position: absolute;
    z-index: -1;
}

.intersection:after {
    border-left: 2px #000 solid;
    height: 40px;
    display: block;
    content: "";
    left: 18px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.intersection.black,
.intersection.white {
    border: 1px solid #000000;
}

:root {
--bgcolor1:#5632a8;
--bgcolor2:#faef5c; 
}

.intersection.black {
    background-color: var(--bgcolor1);
}
.intersection.white {
    background-color: var(--bgcolor2);
}